nav
  div(id="imagen")
    a(href="/") 
      img(src="images/foodmania_logo.png", alt="", id="menu")
  div(id="div-nav-items")  
    #myLinks
      a(href="facts") Food fun facts
      a(href="techniques") Cooking techniques
    a.icon(href='javascript:void(0);' onclick='myFunction()')
      i.fa.fa-bars    
  ul(id="main-ul")
    li.
      #[a(href="facts") Food fun facts]
    li.
      #[a(href="techniques") Cooking techniques]