nav
  div(id="imagen")
    a(href="/") 
      img(src="menu.png", alt="", id="menu")
  ul(id="main-ul")
    li.
      #[a(href="facts") Food fun facts]
    li.
      #[a(href="techniques") Cooking techniques]