doctype html
html(lang="en")
  head
    title= "Food"
    link(rel="stylesheet", href="./styles.css", type="text/css")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Fugaz+One&family=Grape+Nuts&family=Pangolin&display=swap' rel='stylesheet')
    link(href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster&family=Pacifico&display=swap" rel="stylesheet")
    script(src='https://kit.fontawesome.com/adf65eea78.js' crossorigin='anonymous')
  body  
    nav
      include components/nav.pug
    section(id="facts_section")
      div(id="facts_div_title")
          br
          h3 Thought you knew the food you were eating? So did we!
          br
          br  
          p From surprising amounts of nutrients to the origins of some of our favourite dishes, here are some interesting food facts that will boggle your mind.
      article(id="facts_article") 
          each val in facts  
            div(class="facts") 
              br  
              h2= val.food_funfact
              br
              br
              p= val.description 
    include components/footer
script(src="./hamburgerMenu.js")    