@import url('https://fonts.googleapis.com/css2?family=Abel&family=Indie+Flower&display=swap');
* {
  margin: 0;
  padding: 0;
}


 /* HEADER AND NAVIGATION BAR  */
nav {
  height: 50vh;
  width: auto;
  position: relative;
}

#imagen {
  background-image: url('images/pexels-fauxels-3184180.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  position: absolute;
}


/* NAVIGATION ITEMS */

/* menu */

#menu {
  width: 20%;
  height: auto;
 }

#main-ul {
  float: right;
  width:auto;
  position: relative;
  border-radius: 10px;
  margin-right: 45px;
  margin-top: 10px;
  background-color: rgba(0,0,0, 0.1);
  font-size: 22px;
  font-weight: 800;
}

#main-ul > li {
  display: inline-block;
  padding: 9px;
  margin: 2px;
  font-size: 1.7rem;
  padding-left: 25px;
}

#main-ul > li a {
  text-decoration: none;
  color: black;
}

#main-ul > li a:hover {
  color: #aa7711;
}

.sub-menu > li > a {
  text-decoration: none;
  color: black;
}

#div-nav-items {
  display: none;
}

#div-nav-items #myLinks {
  display: none;
}

/* Style navigation menu links */
#div-nav-items a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
#div-nav-items a.icon {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: xx-large;
}
 
#div-nav-items #myLinks>a:hover {
  background-color: #ddd;
  color: black;
}

#myLinks {
  margin-top: 85px;
  font-size: 1.7rem;
  font-weight: 800;
}

#myLinks a {
  font-size: 1.7rem;
  font-weight: 800;
} 


@media only screen and (max-width: 800px) {
  #main-ul {
    display: none;
  }
  #div-nav-items {
    display: block;
    position: relative;
    float: right;
  }
}



/* MAIN CONTENT */

#imge {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#submit_section {
  border: 10px solid rgb(255,240,245);
  height:auto;
  width: 100%;
  box-sizing: border-box;
}

 
.food-time {
  margin: auto;
  font-weight: 500;
}

#form-section {
  background-color: rgb(255, 220, 250);
  height: auto;
  width: 100%;
  border: 4px solid rgb(255,240,245);
  box-sizing: border-box;
  padding:10px;
}

#form-section > div > form {
  margin-top: 0.1%;
}

#send-info {
  margin: auto;
  width: 30%;
  text-align: center;
  font-size: 22px;
}

#send-info > #submit{
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 9px;
  font-size: 1.8rem;
  border: 2px solid rgb(240, 220, 230);
  background-color: rgb(250, 250, 220);
}


#send-info > #submit:hover {
  border-style: solid;
  border-width: 2px 4px 4px 1px;
  border-color: black;
}

#send-info > label{
  background-color: rgb(250, 250, 220);
  width: fit-content;
  padding: 2%;
  margin: auto;
  display: block;
  box-sizing: border-box;
  border-width: 1px 4px 3px 0.2px;
  border-style: solid;
}

#send-info > #food {
  width: 50%;
  box-sizing: border-box;
  font-size: 20px;
  margin: 10px 2px 2px 2px;
  padding: 3%;
  border-style: groove;
  border-radius: 10px;
  text-align: center;
}

#main-content {
  padding: 5px;
  min-height: 600px;
  width: auto;
  background-color: rgba(248, 248, 232, 0,2);
}

@media only screen and (max-width: 915px) {
  #send-info > #food {
    width: 80%;
  }
  
}
 /* Tooltip tip css */

#send-info .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}


/* styles for the food content box */

#contentForFood {
  width: 100%;
  height: 350px;
  position: relative;
}

.welcomigmsg {
   position: absolute;
   left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  white-space: nowrap;
}


.foodContentboxTittle {
  font-family: 'Abel', sans-serif;
  font-family: 'Indie Flower', cursive;
  margin-bottom: 1.5%;
}


.foodContent {
  min-height: 300px;
  width: auto;
  background-color: rgb(255,250,245);
  margin: auto auto 1% auto;
  padding: 1%;
  overflow: auto;
  margin-bottom: 3%;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}


.adittionalContent {
  border: 1px solid black;
  width: auto;
  height: auto;
  box-sizing: border-box;
  background-color: rgba(240,250,240, 1);
  margin: auto;
  padding: 2%;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  font-weight: bold;
}


/* styles for the food  box title */
.title {
  font-size: 30px;
  width: auto;
  height: auto;
  margin-bottom: 15px;
  background-color: rgba(240,250,240, 1);
  text-align: center;
  font-weight: bolder;
}


.recipeimg  {
height: 250px;
width: auto;
float: right;
margin: 2%;
border-radius: 20px;
}



/* FACTS */

#facts_section {
  height: fit-content;
  width: 90%;
  margin: 10px auto auto auto;
  padding: 3%;
}

#facts_div_title p{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-size: 23px;
  font-weight: 600;
} 

.facts p {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-size: 23px;
  font-weight: 600;
}

.facts > h2 { 
  text-align: center;
  font-family: "Lobster", sans-serif;
}

#facts_div_title h3 { 
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
  font-family: "Pacifico", cursive;
} 

.foodfactsimage { 
  display: block;
  margin: 10px auto;
  width: 310px;
  height: 250px;
  border-radius: 50%;
}

/* TECHNIQUES */

.technique { 
  margin: 2% auto;
  width: 40%;
  border: 2px solid  rgba(134, 151, 173, 0.534); 
  padding: 2%;
  word-wrap: break-word;
}

.technique h3 { 
  font-size: 35px;
  text-align: center;
  color: darkgreen;
}

.technique p { 
  font-family: "Lobster", sans-serif;
  text-align: center;
  line-height: 2;
  font-size: larger;
}

/* FOOTER SECTION */
.footer-section {
  background-color: rgb(230,200,250);
  height: 100px;
  width: auto;
  border: 7px solid rgb(255,240,245);
  box-sizing: border-box;
}

i {
  font-size: 40px;
  color: black;
  margin-top: 15px;
}
